.custom-tooltip {
    padding: 1rem 1.5rem 1.25rem 1.5rem;
    font-size: 16px !important;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px !important;
    pointer-events: auto !important;
}

.d-flex:first-child:not(:last-child) .colon::after {
    content: ':';
}

.custom-tooltip.show {
    opacity: 1 !important;
}

.custom-tooltip:hover {
    visibility: visible !important;
    opacity: 1 !important;
}
