.custom-tooltip {
    padding: 1rem 1.5rem 1.25rem 1.5rem;
    font-size: 16px !important;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px !important;
    pointer-events: auto !important;
}

.grid {
    grid-template-rows: repeat(auto-fill, auto);
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 0.5rem 1.5rem;
}

.grid .key-colon:nth-child(odd)::after {
    content: ':';
}

.grid__one-row {
    grid-template-columns: 15rem;
}

.grid__flow-column {
    grid-auto-flow: column;
}

.custom-tooltip.show {
    opacity: 1 !important;
}

.custom-tooltip:hover {
    visibility: visible !important;
    opacity: 1 !important;
}
